
<main>
  <section class="pb-5 py-md-10 mt-4">
    <div class="container pt-4 mb-3 mb-lg-0">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-8 offset-lg-1">
          <h5 class="text-light fw-normal">Sandstik</h5>
          <h1 class="text-light mb-5">Minimalist phone holder<br>for your car or truck</h1>
          <div class="d-flex align-items-center mb-5">
	    <a class="btn btn-primary me-3 pe-3" href="#">
              <i class="bi bi-cart3 fs-lg me-2"></i>
	      Add to Cart
	    </a>
            <span class="h4 mb-0 text-light fw-normal">
	      $99.<small>99</small>
	    </span>
	  </div>
          <ul class="list-unstyled text-light mb-0">
            <li class="d-flex my-2">
	      <i class="h5 fw-normal text-light me-2 bi bi-phone"></i>
              <div class="ps-1">For any size phone</div>
            </li>
            <li class="d-flex my-2">
	      <i class="h5 fw-normal text-light me-2 bi bi-upload"></i>
              <div class="ps-1">Quick and easy detach</div>
            </li>
            <li class="d-flex my-2">
	      <i class="h5 fw-normal text-light me-2 bi bi-truck"></i>
              <div class="ps-1">Fast shipping</div>
            </li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-8 text-center">
	  <%= image_tag('sandstick2.jpg', class: "mt-5 mt-sm-1", style: "height: 90vh") %>
	</div>
      </div>
    </div>
  </section>
</main>
